<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/socketio-client/socket.io.min.js') }}"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/index.js') }}"
      defer
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h1>NeoTT Controll</h1>
    <div id="messages"></div>
    <div class="card">
      <div class="card-head">icon</div>
      <div class="card-content">
        on off toggle switch 
      <label class="switch">
  <input type="checkbox" id="main_switch">
  <span class="slider"></span>
</label>
      </button>
      </div>
    </div>
    <div class="card">
      <div class="card-head">brightness</div>
      <div class="card-content">
        content <br />
        <input
          type="range"
          min="0.010"
          max="1.00"
          value="0.5"
          step="0.001"
          class="slider"
          id="brightness"
        />
      </div>
    </div>
    <div class="card">
      <div class="card-head">Effect Speed</div>
      <div class="card-content">
        content <br />
        <input
          type="range"
          min="0.010"
          max="1.00"
          value="0.5"
          step="0.001"
          class="slider"
          id="wait"
        />
      </div>
    </div>
    <div class="card">
      <div class="card-head">ShowType</div>
      <div class="card-content">
        content <br />
        <select name="ShowType" id="show_type">
          <option value="">--Please choose an option--</option>
          <option value="COLOR">Color</option>
          <option value="RAINBOW">Ranibow</option>
        </select>
      </div>
    </div>
    <div class="card">
      <div class="card-head">ShowType</div>
      <div class="card-content">
        content <br />
        <input type="color" id="solid_color" value="#FF80FF" />
      </div>
    </div>
    <button onClick="sendMessage()">MSG</button>
  </body>
</html>
